extends layout

block content
  .page-header
    h1
      a(href='/') ghlint
      | 
      small A linter for GitHub projects.
  form(action='/', role='form')
    span#linter-help.help-block Choose an owner or repository to lint.
    .form-group
      .input-group
        input.form-control(name='repo', placeholder='owner or owner/repository', aria-describedby='linter-help', autofocus)
        span.input-group-btn
          input.btn.btn-primary(type='submit', value='Lint')
  if repos
    for repo in repos
      hr
      h2(class=colorClass(!repo.results.length))
        span.glyphicon.icon-column(class=iconClass(!repo.results.length))
        a(href='https://github.com/'+repo.owner)= repo.owner
        span.text-muted  / 
        strong
          a(href='https://github.com/'+repo.owner+'/'+repo.name)= repo.name
      ul.checklist
        for result in repo.results
          li= result
  footer
    hr
    p
      | © 2014 Nicolas McCurdy
      br
      | not affiliated with <a href="https://github.com/">GitHub</a>
