extends layout

block content
  .page-header
    h1
      a(href='/') ghlint
      | 
      small A linter for GitHub projects.
  form(action='/', role='form')
    span#linter-help.help-block Choose an owner or repository to lint.
    .form-group
      .input-group
        input.form-control(name='repo', placeholder='owner or owner/repository', aria-describedby='linter-help', autofocus)
        span.input-group-btn
          input.btn.btn-primary(type='submit', value='Lint')
  if repos
    for repo in repos
      h2
        span= repo.owner
        span.text-muted  / 
        strong= repo.name
      ul.checklist
        for result in repo.results
          li(class=colorClass(result.result))
            span.glyphicon.icon-column(class=iconClass(result.result))
            span= result.message
